python-dotenv
openai
azure-core
langchain
langchain-openai
langsmith
ipykernel
langchain_community
langchain-community
pypdf
bs4
arxiv
PyMuPDF
wikipedia
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma